/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif !important;
}